<div class="row">
  <div class="col-xs-12">
    <h2 class="page-title">通報完了</h2>
  </div>
</div>

<div class="game-report">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">以下の内容で通報を受け付けました。</h3>
      <div class="report-box">
        <h4><strong>通報内容</strong></h4>
        <div>通報理由<div class="report-details"><%= @report.reason %></div></div>
        <div>通報内容詳細<div class="report-details"><%= @report.report %></div></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="comment-report-detail">
        <h4>コメント内容</h4>
        <div class="comment-report-comment">
        <%= @comment.comment %>
        </div>
      </div>
    </div>
  </div>
</div>