<div class="comment">
  <div class="comment-day">
    投稿日：<%= comment.created_at.strftime("%Y年%m月%d日") %>
    <% if member_signed_in? && comment.member.id == current_member.id %>
      <span class="current-comment"><b>あなたのコメントです</b></span><%= link_to "削除する",game_comments_path(comment.game_id,comment.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn-xs btn-danger btn-comment-destroy" %>
    <% end %>
  </div>
  <div class="comment-text"><%= comment.comment %>
    <div class="text-right">
      <%= link_to "このコメントを通報する", new_comment_report_path(comment_id: comment.id) %>
    </div>
  </div>

</div>