<h2 class="text-center page-title">GIME GIMMEについて</h2>

<h4 class="text-center">GIMEはTIMEとGAMEを合わせた造語です。<br>
そしてGIMMEは貪欲に求めるという意味です。<br>
<br>
GIME GIMMEは、ゲームが好きでも忙しくて時間が足りない。<br>
それでも自分好みのゲームをたくさんやってみたい。<br>
そんな人の手助けができれば良いなと思って誕生した口コミサイトです。<br>
<br>
プレイした人がプレイ時間を投票することで、プレイ時間の目安が目で見えるので、<br>
GIME GIMEなあなたの手助けになればと思っています。</h4>