<div class="row">
  <div class="col-xs-12">
    <h2 class="page-title">受付完了</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="thanks-contact">
    <h4 class="text-center">お問い合わせありがとうございます。<br>
    以下の通り、お問い合わせを受け付けました。</h4>

      <div class="data-contact">
        <h5><strong>お名前</strong></h5>
        <%= @contact.name %>
        <h5><strong>メールアドレス</strong></h5>
        <%= @contact.email %>
        <h5><strong>お問い合わせ内容</strong></h5>
        <%= @contact.contact_text %>
      </div>
    </div>
  </div>
</div>