// Place all the styles related to the admin::games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-game-form h4{
	margin: 0;
}
.admin-game-box{
  background-color: #FAFAFA;
  margin: 0px auto 30px;
  padding: 30px;
  border-radius: 5px;
}