// Place all the styles related to the admin::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 会員一覧
.members > table{
	margin-bottom: 0;
}

.btn-edit{
	margin-right: 10px;
}

.status{
	margin: 0;
	font-size: 18px;
}

.table .table-member{
	vertical-align: middle;
}

// 会員詳細
.member-data-box{
	background-color: black;
	padding: 10px;
}
.member-data-box > .member-name{
	margin: 0;
	padding: 0;
	background-color: black;
  color: white
}

// サイドメニュー
.admin-member-side-menu{
  background-color: white;
  margin: 10px;
  border: 2px solid black;
  border-radius: 3px;
}
.admin-member-side-menu a{
  display: block;
  color: black;
}
.admin-member-side-menu a:hover{
  text-decoration: none;
}
.admin-member-side-menu-li:hover{
  background-color: #C3F1E5;
}
// 会員情報編集
.member-edit{
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

.member-edit .row{
	margin: 10px 0;
	line-height: 32px;
}
.member-edit .radio input[type="radio"]{
	position: relative;
}
.member-edit .radio{
	margin: 0;
}
