// Place all the styles related to the admin/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-search-box{
  background-color: #FAFAFA;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 16px;
}