<h3><%= @member.name %>様</h3>

<p>いつもGIME GIMMEをご利用頂き、ありがとうございます。<br>
この度、<%= @member.name %>様のご利用について、多数のご意見をいただいた為、ご連絡いたしました。<br>
具体的な内容については以下の通りです。</p>

<%= @warning.warning_text %>

<p>なお、この件について、このメールを受信後<strong>1週間以内</strong>にご対応が見られない場合、アカウント停止等の処置をさせていただきます。<br>
ご理解、ご対応のほど、宜しくお願いいたします。</p>

<p>GIME GIMME 管理人</p>