// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-admin{
	color: white;
	background-color: black;
	margin-bottom: 30px;
}

#login-name-admin{
	color: red;
}