/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


// header

#header{
	color: white;
	background-color: #59DAC9;
	margin-bottom: 30px;
}

.sitelogo img{
	padding: 10px 3px;
	height: 70px;
}

li{
	list-style: none;
}

.navber-right{
	height: 70px;
	float: right;
	width: 75%;
}
.nav ul{
	margin: 0;
	padding: 0;
}
.navber-right > li{
	position: relative;
	float: right;
	display: inline-block;
	line-height: 70px;
	height: 70px;
	text-align: center;
}
.navber-right > li:not(#login-name-admin){
	width: 20%;
}
.menu-li{
	padding: 0;
	margin: 0;
	background-color: black;
	border: none;
	width: 100%;
}

.navber-right li > a{
	text-decoration: none;
	color: white;
	line-height: 70px;
	display: block;
}
.navber-right li > ul > li > a{
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}

.navber-right :not(#login-name-admin) > a:hover,.menu-li:hover{
	background-color: #55C5B8;
}
#login-name a:hover{
	text-decoration: underline;
}

img:hover{
	background-color: #55C5B8;
}

// body

body{
	background-color: #F3FFFE;
}
table{
	background-color: white
}
.page-title{
	text-align: center;
}

.page-title::after{
	content: '';
	display: block;
	width: 100px;
	height: 3px;
	border-color: #55C5B8;
	border-bottom-style: solid ;
	margin: 5px auto 0;
}