// Place all the styles related to the comment_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-report-detail{
  width: 70%;
  margin: 0 auto;
}
.comment-report-comment{
  border: 1px solid #9DDAC9;
  padding: 10px;
  background-color: white;
}