// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-box{
  margin-top: 10px;
  background-color: #BFE3E1;
  width: 100%;
  padding: 15px 20px;
  border-radius: 3px;
}
.genre-box ul{
  padding: 0;
  margin: 0;
}
.genre-item{
  background-color: #EDFBF7;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #94B3AB;
}
.genre-box li{
  display: inline-block;
}
.genre-box li > a{
  display: block;
  text-decoration: none;
  padding: 5px;
  color: black;
}
.index-game li > a{
  display: block;
  text-decoration: none;
  padding: 1px 2px;
  color: black;
}
.genre-box li > a:hover,.index-game li > a:hover{
  background-color: white;
  color: gray;
}
.genre-box li:last-child{
  margin-right: 0;
}
.top-game-box{
  position: relative;
  background-color: white;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
}
.index-game{
  padding: 0 10px 10px 10px;
  border-top: 1px solid #ccc;
  margin: 0 10px;
  color: #888;
}
.index-game:last-child{
  border-bottom: 1px solid #ccc;
}

.top-game-title{
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.top-game-box h2{
  display: inline-block;
  margin: 0 auto;
}
.index-game li{
  display: inline-block;
}
.index-game ul{
  padding: 0;
}
.top-genre{
  text-align: center;
  background-color: #EDFBF7;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #94B3AB;
}
.top-genre, .top-time{
  margin-left: 10px;
}
.rank-num{
  color: black;
}
.search img{
  height: 30px;
  display: inline;
}
.search{
  margin: 10px auto;
}