// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログイン
.member-session-box{
  border: 2px solid #58A289;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.member-session-box img{
  height: 70px;
}
.member-session-box .login-logo{
  background-color: #58A289;
  border-radius: 5px 5px 0 0 ;
  text-align: center;
  padding: 20px 0;
  color: white;
}
.login-logo h4{
  margin: 0;
}
.member-session-input{
  padding: 20px 30px;
}

.member-session-input .btn-login, .btn-registration{
  margin: 10px 0;
}



// 会員情報編集
.member-edit{
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

.member-edit .row{
	margin: 10px 0;
	line-height: 32px;
}

.member-edit .text-right{
	font-size: 12px;
}
.member-edit .text-right a{
	text-decoration: underline;
}

.game-index{
	margin-top: 30px;
}

// マイページ
.member-data{
  background-color: white;
  padding: 20px;
  margin: 0 20px;
}
.member-data h2{
  margin-top:0;
}
// 投稿記事一覧
.member-game-index{
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
}
.member-game-index:last-child{
  border-bottom: 1px solid #ccc;
}
.member-game-index li{
  display: inline-block;
}
.member-game-index ul{
  margin:0;
  padding: 0;
}
.member-game-index h3{
  margin: 5px 0;
  padding: 0;
}
.member-game-title{
  font-size: 28px;
}
.member-game-status{
  font-size: 14px;
}
// マイページサイドメニュー
.member-side-menu{
  background-color: white;
  margin: 10px;
  border: 2px solid #55C5B8;
  border-radius: 3px;
}
.member-side-menu-li{
  border-bottom: 1px solid #55C5B8;
  padding: 10px 10px;
}
.member-side-menu-li:last-child{
  border-bottom: none;
}
.member-side-menu a{
  display: block;
  color: black;
}
.member-side-menu a:hover{
  text-decoration: none;
}
.member-side-menu-li:hover{
  background-color: #C3F1E5;
}
.warning-mail a{
  color: red;
}
// 退会ページ
.delete-me-box{
  background-color: white;
  padding: 20px 40px;
  width: 70%;
  margin: 0 auto;
}
.delete-me-title{
  color: red;
}