// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログイン
.member-session-box{
  border: 2px solid #58A289;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.member-session-box img{
  height: 70px;
}
.member-session-box .login-logo{
  background-color: #58A289;
  border-radius: 5px 5px 0 0 ;
  text-align: center;
  padding: 20px 0;
  color: white;
}
.login-logo h4{
  margin: 0;
}
.member-session-input{
  padding: 20px 30px;
}

.member-session-input .btn-login, .btn-registration{
  margin: 10px 0;
}



// 会員情報編集
.member-edit{
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

.member-edit .row{
	margin: 10px 0;
	line-height: 32px;
}

.member-edit .text-right{
	font-size: 12px;
}
.member-edit .text-right a{
	text-decoration: underline;
}

.game-index{
	margin-top: 30px;
}