<div class="row">

	<div class="col-xs-12">
		<h1 class="page-title"><%= @member.name %>さんのマイページ</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">

		<div class="member-btn text-center">
			<%= link_to "登録情報を編集する", edit_member_path(current_member),class: "btn btn-primary btn-sm" %>
			<%= link_to "GIME GIMMEを退会する", delete_me_path, class: "btn btn-danger btn-sm" %>
		</div>
	</div>
</div>
